html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #aaa;
    
}

video{
    display: none;
  }

  #myvid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   }
   

/* { cursor: url('../assets/mouse.png') 2 2, auto; }
     
